header {
    display: flex;
    background-color: brown;
    color: white;
}

ul {
    display: flex;

}

li {
    list-style: none;
    padding-right: 40px;
    padding-top: 17px;

}

nav {
    margin-left: 100px;
}

.logo{
     margin-left: 100px;
     font-style: italic;
}
.KOTAK {
    display: flex;
    margin-bottom: 100px;
}

.Box1 {
    background-color: red;
    height: 100px;
    width: 100px;
}

.Box2 {
    background-color: black;
    height: 100px;
    width: 100px;
}

.Box3 {
    background-color: blue;
    height: 100px;
    width: 100px;
}

.Kotak-Panjang {
    display: flex;
    align-items: center;
    text-align: center;

    
    
}

.persegi-panjang1 {
    background-color: rgb(194, 194, 199);
    height:500px;
    width:400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;

    
   
}

.persegi-panjang2 {
    background-color:rgb(194, 194, 199);
    height:500px;
    width:400px;
    margin-right: 50px;
    margin-left: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.persegi-panjang3 {
    background-color: rgb(194, 194, 199);
    height: 500px;
    width:400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.btn-buy {
    background-color: green;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-buy:hover{
    background-color: bisque;
    cursor: pointer;
}

